<a href="https://colab.research.google.com/github/Supriyadandawate/30-Days-of-Python-programming/blob/main/Basic_Series_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create a pandas Series from a List
import pandas as pd
list_series = ["Mango","Apple","Banana","Grapes"]
series = pd.Series(list_series)

print("List of series")
print()
print(series)

List of series

0     Mango
1     Apple
2    Banana
3    Grapes
dtype: object

In [5]:
# Create a pandas Series from a Tuple
import pandas as pd
tuple_series =(10,20,30,40,50)

series = pd.Series(tuple_series)
print("Tuple of series")
print(series)

Tuple of series
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
# Create a series with Custom Index
import pandas as pd
data =["Mango", "Banana","Apple","Grapes"]
index=[300,400,500,600]

series = pd.Series(data, index=index)

print("Series with custom Index")
print(series)

Series with custom Index
300     Mango
400    Banana
500     Apple
600    Grapes
dtype: object

In [8]:
# Use Cases of Pandas Series in DataFrames:
import pandas as pd
# Using Pandas Series:
data = {
    "Name" : pd.Series(["Lakhan","Sumanth","Sriram","Koushik"]),
    "Age"  : pd.Series([10,20,30,40])
}

df = pd.DataFrame(data)
print("print the series of data")
print(df)
print()
print("Accessing the age column of the series")
print(df["Age"])

print the series of data
      Name  Age
0   Lakhan   10
1  Sumanth   20
2   Sriram   30
3  Koushik   40

Accessing the age column of the series
0    10
1    20
2    30
3    40
Name: Age, dtype: int64